{{#partial "content"}}

    {{#if editPost}}
        <h1>Edit Post!</h1>
        <form action="/posts/{{editPost.id}}/update" method="post">
            <label for="content">Edit this post's Title</label>
            <input id="content" name="content" type="text" value="{{editPost.title}}">

            <label for="content">Edit this post's description</label>
            <input id="content" name="content" type="text" value="{{editPost.description}}">

            <button type="submit" class="btn btn-default">Edit post</button>
        </form>

    {{else}}
    <h1>Add a new Post!</h1>

    <form action="/posts/new" method="post">
        <label for="title">Post Title</label>
        <input id="title" name="title" type="text">

        <label for="description">Post Description</label>
        <input id="description" name="description" type="text">

        <button type="submit" class="btn btn-default">Submit post</button>
    </form>

    {{/if}}


{{/partial}}

{{> layout.hbs}}