{{#partial "content"}}
    <p>Content:</p>
    <p>{{ post.title }}</p>
    <h5>Created At:</h5>
    <p> {{ post.description }}</p>
    <p> {{ post.created_at }}</p>

    <a href="/posts/{{post.id}}/update">Edit this post</a>
{{/partial}}

{{> layout.hbs}}